<!DOCTYPE html>
<html>
  <head>
    <title>Ide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class ="container-fluid">
        <div class ="navbar-header">
          <button type ="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><%= link_to root_path do %>BrainFuck IDE<% end%></h1>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li>Signed in as: <%= current_user.name %> - <%= image_tag(@auth['info']['image'], width: '50',heigth: '50', class: 'img-circle') %></li>
                <li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
              <% else %>
                <li><%= link_to "auth/facebook" do %><%= image_tag('facebook.png', width:'40',heigth: '40', class: 'img-circle') %><% end %></li>
                <li><%= link_to "auth/twitter" do %><%= image_tag('twitter.png', width:'40',heigth: '40', class: 'img-circle') %><% end %></li>
                <li><%= link_to "auth/vkontakte" do %><%= image_tag('vk.png', width:'40',heigth: '40', class: 'img-circle') %><% end %></li>
              <% end %>
            </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-info"><%= value %></div>
    <% end %>

    <% if current_user %>
      <div class="text-center">
        <h1>Welcome, <%= current_user.name %></h1>
        <h4>Logged In with -> <strong><em><%= @auth['provider'].capitalize %></em></strong></h4>
        <%= image_tag('logo.jpg',  width:'70',heigth: '70', class: 'img-circle') %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
